<div class="header">
  <video class="w-100 bg-video h-55" autoplay loop muted>
    <source class="video-opacity" src="https://cdn.dribbble.com/uploads/39421/original/963b4f8739cbdf86ca3f3a23245efd18.mp4?1657824985" type="video/mp4"/>
  </video>  
      <!-- <div class="container upper-bar justify-content-center overflow-hidden">
      <ul class="d-flex flex-row list-unstyled justify-content-between my-lg-5 my-sm-5">
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Discover</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Animation</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Branding</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">lllustration</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Mobile</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Print</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill text-nowrap">Product Design</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Typography</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill text-nowrap">Web Design</button>
        </li>
      </ul>
    </div> -->
    <div class="text-center text-white mx-lg-auto my-auto">
      <h1 class="h2 fw-bold ">Explore the world's For<br>Shopping </h1>
    </div>
    <div class="text-center text-white mt-2 mx-lg-5">
      <p class="h6 text-center mt-4">Millions of shopkeeper and wholesaler around the world showcase their products</p>
      <p class="h6 text-center">on Dribbble - the home to the world's best products for customers.</p>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="search position-relative">
            <form [formGroup]="userForm">
            <input class="form-control form-control-lg me-2 rounded-pill search-bar fs-6" type="search" placeholder="search.." aria-label="Search" formControlName="search">
            <button class="search-button" (click)="onSearch()">Search</button>
          </form>
          </div>
        </div>
      </div>
    </div>
</div>