<app-navigation-bar></app-navigation-bar>

<div class="wrapper" *ngFor="let product of product">
    <div class="product-img">
      <img src={{product.image}} height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{product.title}}</h1>
        <p>{{product.description}}</p>
      </div>
      <p><span class="ps-5">{{product.price}}</span>$</p>
      <div class="product-price-btn">
        <button type="button" (click)="buyProduct(product)">buy now</button>
      </div>
    </div>
  </div>


  